.App-nav {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.App-navbar {
  display: flex;
  flex-direction: row;
}

.App-navbar > li {
  margin: 0.5em;
}

.App-navbar > li > a {
  text-decoration: none;
  color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TrendingMovies {
  width: 75%;
  margin: auto;
}

.Trending {
  overflow-x: scroll;
  border-bottom: 3px solid black;
}

.Trending > ul {
  width: 4000px;
  display: flex;
  flex-direction: row;
}

.Trending > ul.active {
  cursor: grabbing;
}

.Trending > ul > li {
  display: inline-block;
  margin-right: 1em;
  max-width: 185px;
}

.Trending > ul > li img:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.SearchBar {
  margin: 1em auto;
  border: none;
  font-size: 110%;
  text-align: center;
  border-bottom: 3px solid black;
  padding: 1em;
  display: block;
  width: 90%;
}

.MoviesList {
  padding: 0;
  margin: auto;
  list-style: none;
  width: 75%;
}

.MoviesList > li {
  margin: 1em;
}

.MoviesList > li:nth-child(odd) {
  background-color: lightgrey;
}

.MovieItemContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .App-nav {
    flex-direction: column;
  }

  .TrendingMovies {
    width: 90%;
  }

  .MoviesList {
    width: 100%;
  }

  .MovieItemContainer {
    flex-direction: column;
    align-items: center;
  }
}

.MovieItemInfo {
  padding: 0 2em;
}

.App-footer {
  margin: auto;
  padding: 2em 0;
  margin-top: 2em;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}